@model Events.Web.Models.Eventsponsorsimage


@{

    var id = ViewBag.eid;
}
<div class="modal fade" id="addimage" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
                <div class="modal-body">
                    <form asp-action="Create" enctype="multipart/form-data">
                        <input asp-for="Id" type="text" id="Id" value="" />
                        <div class="form-group">
                            <label asp-for="EventId" class="control-label"></label>
                            <input asp-for="EventId"  type="text" id="EventId" value="@id" class="form-control" readonly>
                        </div>
                        <div class="form-group">
                            <label asp-for="SponsorImage" class="control-label"></label>
                            <input asp-for="File" class="form-control" />
                            @*<input type="file" class="form-control" />*@
                            <span asp-validation-for="SponsorImage" class="text-danger"></span>
                        </div>
                        <button type="reset" class="btn btn-outline-secondary" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
                        <input type="submit" class="btn btn-primary">
                    </form>
                    </div>
            <div class="modal-footer">
         
            </div>
        </div>
    </div>
</div>
