@model IEnumerable<Events.Web.Models.Eventsponsorsimage>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<img src="C:\Users\admin\source\repos\EventsPSV\Events.Web\wwwroot\Files\Screenshot (11).png"></img>
<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="card shadow">
    <div class="card-body">
        <table id="Eventsponsorsimagestable" class="table">
    <thead>
        <tr>
            <th>
               Id
            </th>
            <th>
                Event Id
            </th>
            <th>image</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>
</div>
</div>
@section Scripts
{
    <script src="~/lib/DataTables/jquery.dataTables.min.js"></script>
    <script src="~/lib/DataTables/dataTables.bootstrap4.min.js"></script>
    <script src="~/Scripts/Custom/jquery-extensions.js"></script>
    <script src="~/Scripts/Common.js"></script>
    <script src="~/Scripts/Eventsponsors/index.js"></script>
}