@model Events.Web.Models.Eventcoupontype

@{
   
    var id = ViewBag.eid;
}


<div class="modal fade" id="addCTypee" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="ctypeform">
                <div class="modal-body">
                @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
                <input type="text" id="Coupontype" value="" hidden/>
                <div class="form-group">
                    <label asp-for="EventId" class="control-label"></label>
                    <input type="text" value="@id" id="EventId" class="form-control" readonly>
                </div>
                <div class="form-group">
                    <label asp-for="CouponName" class="control-label"></label>
                    <input class="form-control" type="text" id="CouponName" name="CouponName" />                    
                    <span asp-validation-for="CouponName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CouponPrice" class="control-label"></label>
                    <input class="form-control" type="text" id="CouponPrice" name="CouponPrice" />                    
                    <span asp-validation-for="CouponPrice" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                    <input class="checkbox" id="Active" asp-for="Active" value="" />Active
                    </label>
                </div>
                <div class="form-group" hidden>
                    <label asp-for="CreatedBy" class="control-label" ></label>
                    <select asp-for="CreatedBy" id="CreatedBy" class="form-control" asp-items="ViewBag.CreatedBy"></select>
                </div>
                <div class="form-group" hidden>
                    <label asp-for="CreatedOn" class="control-label"></label>
                    <input type="date" id="CreatedOn" value="" class="form-control" />
                    <span asp-validation-for="CreatedOn" class="text-danger"></span>
                </div>
                    <div class="modal-footer">
                        <button type="reset" class="btn btn-outline-secondary" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
                        <button type="button" onclick="save_ctype()" class="btn btn-primary">Save</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
