    @model Events.Web.Models.Eventattendee
@{

    var id = ViewBag.eid;
}


<html>
<head>
    <link href="~/lib/select2.min.css" rel="stylesheet" />
    <style>
        .select2-container {
            z-index: 100000;
        }

        .select2-selection--multiple {
            border-style: groove;
        }
    </style>
</head>
    <body>
       <div class="modal fade" id="addeditattendee" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="attendeestitle">Add Attendee</h5>

                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <form id="formAddAttendees">
                    <div class="modal-body">
                        <input id="attenid" value="" hidden>
                        <input id="EventId" value="@id" hidden>
                       
                        <div class="form-group">
                            <label asp-for="AttendeeName" class="control-label"></label>
                            <input type="text" name="AttendeeName" id="AttendeeName" class="form-control" value="" />
                            <span asp-validation-for="AttendeeName" class="text-danger"></span>
                        </div>
                        
                        <div class="form-group">
                            <label asp-for="ContactNo" class="control-label"></label>
                            <input type="number" name="ContactNo" id="ContactNo" class="form-control" value="" />
                            <span asp-validation-for="ContactNo" class="text-danger"></span>
                        </div>
                        
                        <div class="form-group">
                            <label asp-for="PurchasedOn" class="control-label"></label>
                            <input type="text" id="PurchasedOn" name="PurchasedOn" placeholder="DD/MM/YYYY" class="form-control" value="" autocomplete="off" />
                            <span asp-validation-for="PurchasedOn" class="text-danger"></span>
                        </div>
                  

                        <div class="form-group">
                            <label asp-for="ExecutiveMember" class="control-label"></label>
                            <select  name="ExecutiveMember" id="ExecutiveMember" onchange="myExecutiveMember()" class="form-control" placeholder="Click to select Member Id" asp-items="ViewBag.ExecutiveMember" value="">
                                <option disabled selected value="">Select Member</option>
                            </select>
                        </div>

                        <div class="form-group" >
                            <label  class="control-label ">Coupon Type
                            </label>
                            <select id="CouponTypeIdd" name="CouponTypeId" onchange="selectNocoupon()" class="CouponTypeId form-control">
                                <option selected disabled>Select Coupon</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label value="Select No of Coupon" class="control-label ">Select Numbers of Coupons
                            </label>
                            <select id="selectmultiplecoupons" name="CouponsPurchased" class="nocoupon js-example-responsive" multiple>
                          
                                   </select>
                        </div>
                        <div class="form-group">
                            <label asp-for="ModeOfPayment" class="control-label"></label>
                            <select asp-for="ModeOfPayment" id="ModeOfPayment" class="form-control" asp-items="Html.GetEnumSelectList<ModeOfPayment>()">
                                <option selected="selected" value="">Please select</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label asp-for="PaymentStatus" class="control-label"></label>
                            <select asp-for="PaymentStatus" id="PaymentStatus" class="form-control">
                                <option selected="selected" disabled>Select Payment Status</option>
                                <option value="1">Paid</option>
                                <option value="0">Pending</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label asp-for="PaymentReference" class="control-label"></label>
                            <input type="text" class="form-control" id="PaymentReference" name="PaymentReference">
                            <span asp-validation-for="PaymentReference" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Remarks" class="control-label"></label>
                            <textarea type="text" name="Remarks" id="Remarks" class="form-control" value=""> </textarea>
                            <span asp-validation-for="Remarks" class="text-danger"></span>
                        </div>
        
                    </div>
                    <div class="modal-footer">
                        <button type="reset" class="btn btn-outline-secondary" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
                        <button type="button" onclick="save_Attendee()" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
    </body>
</html>
   
@*@section Scripts {
    @{
        <script src="~/lib/select2.min.js"></script>
     
        await Html.RenderPartialAsync("_ValidationScriptsPartial");

    }
   
 
    }

*@