@model IEnumerable<Events.Web.Models.Eventattendee>
@{
    ViewData["Title"] = "Index";
    var id = ViewBag.Eid;
    var iid = ViewBag.VBFriend.EventName;
    var edate = ViewBag.VBFriend.EventDate;
    var evenue = ViewBag.VBFriend.EventVenue;
    var estarttime = ViewBag.VBFriend.EventStartTime;
    var eendtime = ViewBag.VBFriend.EventEndTime;
    var eyear = ViewBag.VBFriend.EventYear;
    var ecreatedon = ViewBag.VBFriend.CreatedOn;
    var emodifiedon = ViewBag.VBFriend.ModifiedOn;
}

<html>
<style>
    .leftside,.rightside{
        hight:50px;
        width:300px;
    }
    .box{
        hight:100px;
        width:800px;
        border:2px solid black;
        padding:10px;
    }
</style>
<body onload="functionToCall(@id)">
    <div class="box">
        <div class="row">
            <div class="col">
                <div class="leftside"> 
                    EventName:@ViewBag.VBFriend.EventName
                    <br />
                    EventDate:@ViewBag.VBFriend.EventDate
                    <br />
                    EventStartTime:@ViewBag.VBFriend.EventStartTime|EventEndTime:@ViewBag.VBFriend.EventEndTime
                </div>
            </div>
            <div class="col-md-1">
                <hr width="1" size="200" style="0 auto" />
            </div>
            <div class="col">
                <div class="rightside">
                    EventVenue:@ViewBag.VBFriend.EventVenue
                </div>
            </div>
        </div>
    </div>




    <div id="Attendees"></div>
    <div class="row">
        <div class="col-6">
            <h2 class="fw-bold mb-4">Attendees</h2>
            @Html.ActionLink("Back to List", "Index","Events")
        </div>
        <div class="col-6 text-end">
            <a class="btn btn-primary" id="create_attendee" onclick="create_attendee(@id);">Add Attendees</a>
        </div>
    </div>


    <div class="card shadow">

        <div class="card-body  table-responsive">
            <table id="Eventattendeestable" class="table">
                <thead>
                    <tr>
                        <th>Attendee Name</th>
                        <th>ContactNo</th>
                        <th>Coupons Purchased</th>
                        <th>Purchased On</th>
                        <th>Total Amount</th>
                        <th>Mode of Payment</th>
                        <th>Remaining Coupons</th>
                        <th>Remarks</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>

@section Scripts
    {
    <script src="~/lib/DataTables/jquery.dataTables.min.js"></script>
    <script src="~/lib/DataTables/dataTables.bootstrap4.min.js"></script>
    <script src="~/Scripts/Custom/jquery-extensions.js"></script>
    <script src="~/Scripts/Common.js"></script>
    <script src="~/Scripts/Eventattendees/index.js"></script>
}
