@model IEnumerable<Events.Web.Models.Eventattendee>
@{
    ViewData["Title"] = "Index";
    var id = ViewBag.Eid;
}

<html>
<body onload="functionToCall(@id)">
    <div id="Attendees"></div>
    <div class="row">
        <div class="col-6">
            <h2 class="fw-bold mb-4">Attendees</h2>
        </div>
        <div class="col-6 text-end">
            <a class="btn btn-primary" id="create_attendee" onclick="create_attendee(@id);">Add Attendees</a>
        </div>
    </div>


    <div class="card shadow">

        <div class="card-body  table-responsive">
            <table id="Eventattendeestable" class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Event Id</th>
                        <th>Attendee Name</th>
                        <th>Contact No</th>
                        <th>Coupons Purchased</th>
                        <th>Purchased On</th>
                        <th>Coupon Type Id</th>
                        <th>Total Amount</th>
                        <th>Mode of Payment</th>
                        <th>Remaining Coupons</th>
                        <th>Remarks</th>
                        <th>Created On</th>
                        <th>Created By</th>
                        <th>Modified On</th>
                        <th>Modified by</th>
                        <th ></th>
                       
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    </body>
</html>

@section Scripts
    {
    <script src="~/lib/DataTables/jquery.dataTables.min.js"></script>
    <script src="~/lib/DataTables/dataTables.bootstrap4.min.js"></script>
    <script src="~/Scripts/Custom/jquery-extensions.js"></script>
    <script src="~/Scripts/Common.js"></script>
    <script src="~/Scripts/Eventattendees/index.js"></script>

    
}
