<!-- Add Sponsors Modal -->
<div class="modal fade zindex-modal" id="addSponsorsModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add New Sponsors</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="formAddSponsors" method="POST">
                <div class="modal-body">
                    <div class="row">
                        <div class="mb-3 col-md-6">
                            <label for="addSponsorName" class="form-label">Sponsor Name</label>
                            <input class="form-control" type="text" id="addSponsorName" name="addSponsorName" />
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="addSponsorOrganization" class="form-label">Sponsor Organization</label>
                            <input class="form-control" type="text" id="addSponsorOrganization" name="addSponsorOrganization" />
                        </div>
                        <div class="mb-3 mb-md-0 col-md-6">
                            <label for="addAmountSponsored" class="form-label">Amount Sponsored</label>
                            <div class="input-group">
                                <span class="input-group-text"><i class="bx bx-rupee"></i></span>
                                <input class="form-control" type="text" name="addAmountSponsored" id="addAmountSponsored" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="addFileMultiple" class="form-label">Upload Multiple Images</label>
                            <input class="form-control" type="file" name="addFileMultiple" id="addFileMultiple" multiple />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-outline-secondary">Cancel</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>