@page
@{
    ViewData["Title"] = "Events";
}

<div class="row">
    <div class="col-6">
        <h2 class="mb-4 page-title">Events</h2>
    </div>
    <div class="col-6 text-end">
        <a class="btn btn-primary" href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#addEventModal">Add Event</a>
    </div>
</div>

<div class="card shadow">
    <div class="card-body">
        <div class="year-filter">
            <select id="yearFilter" class="custom-select custom-select-sm form-control form-control-sm w-auto">
                <option value="">Select Year</option>
                <option value="2023">2023</option>
                <option value="2022">2022</option>
                <option value="2021">2021</option>
                <option value="2020">2020</option>
                <option value="2019">2019</option>
            </select>
        </div>
        <table id="event" class="table table-striped">
            <thead>
                <tr>
                    <th>Event Name</th>
                    <th>Date</th>
                    <th>Venue</th>
                    <th>Event Time</th>
                    <th>Coupon Rate</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Lohri</td>
                    <td>Jan 13, 2023</td>
                    <td>Hotel Yuvraj, Station Road, Vadodara</td>
                    <td>06:00 PM - 10:00 PM</td>
                    <td>₹2000</td>
                    <td>
                        <div class="dropdown">
                            <button type="button" class="btn p-0 dropdown-toggle hide-arrow lh-1" data-bs-toggle="dropdown"><i class="bx bx-dots-vertical-rounded"></i></button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#editEventModal"><i class="bx bx-edit-alt me-1"></i> Edit</a>
                                <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-trash me-1"></i> Delete</a>
                                <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-user-check me-1"></i> Attendees</a>
                                <a class="dropdown-item" href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#expensesModal"><i class="bx bx-wallet-alt me-1"></i> Expenses</a>
                                <a class="dropdown-item" href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#sponsorsModal"><i class="bx bx-dollar me-1"></i> Sponsors</a>
                                <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-food-menu me-1"></i> Menu</a>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Vaisakhi</td>
                    <td>Apr 13, 2023</td>
                    <td>Hotel Yuvraj, Station Road, Vadodara</td>
                    <td>06:00 PM - 10:00 PM</td>
                    <td>₹1500</td>
                    <td>
                        <div class="dropdown">
                            <button type="button" class="btn p-0 dropdown-toggle hide-arrow lh-1" data-bs-toggle="dropdown"><i class="bx bx-dots-vertical-rounded"></i></button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#editEventModal"><i class="bx bx-edit-alt me-1"></i> Edit</a>
                                <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-trash me-1"></i> Delete</a>
                                <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-user-check me-1"></i> Attendees</a>
                                <a class="dropdown-item" href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#expensesModal"><i class="bx bx-wallet-alt me-1"></i> Expenses</a>
                                <a class="dropdown-item" href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#sponsorsModal"><i class="bx bx-dollar me-1"></i> Sponsors</a>
                                <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-food-menu me-1"></i> Menu</a>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>KarwaChauth</td>
                    <td>Dec 13, 2022</td>
                    <td>Hotel Yuvraj, Station Road, Vadodara</td>
                    <td>06:00 PM - 10:00 PM</td>
                    <td>₹3000</td>
                    <td>
                        <div class="dropdown">
                            <button type="button" class="btn p-0 dropdown-toggle hide-arrow lh-1" data-bs-toggle="dropdown"><i class="bx bx-dots-vertical-rounded"></i></button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#editEventModal"><i class="bx bx-edit-alt me-1"></i> Edit</a>
                                <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-trash me-1"></i> Delete</a>
                                <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-user-check me-1"></i> Attendees</a>
                                <a class="dropdown-item" href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#expensesModal"><i class="bx bx-wallet-alt me-1"></i> Expenses</a>
                                <a class="dropdown-item" href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#sponsorsModal"><i class="bx bx-dollar me-1"></i> Sponsors</a>
                                <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-food-menu me-1"></i> Menu</a>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Add Event Modal -->
<div class="modal fade" id="addEventModal" tabindex="-1" aria-labelledby="addEventLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addEventLabel">Add New Event</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="formAddEvent" method="POST">
                    <div class="row">
                        <div class="mb-3 col-md-6">
                            <label for="addEventName" class="form-label">Event Name</label>
                            <input class="form-control" type="text" id="addEventName" name="addEventName" />
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="addEventDate" class="form-label">Event Date</label>
                            <input class="form-control" type="date" name="addEventDate" id="addEventDate" />
                        </div>
                        <div class="mb-3 col-md-12">
                            <label for="addEventVenue" class="form-label">Event Venue</label>
                            <textarea class="form-control" id="addEventVenue" name="addEventVenue"></textarea>
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="addStartTime" class="form-label">Start Time</label>
                            <input class="form-control" type="time" name="addStartTime" id="addStartTime" />
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="addEndTime" class="form-label">End Time</label>
                            <input class="form-control" type="time" id="addEndTime" name="addEndTime" />
                        </div>
                        <div class="mb-3 col-md-12">
                            <label for="addFoodCouponRate" class="form-label">Food Coupon Rate</label>
                            <div class="input-group">
                                <span class="input-group-text"><i class="bx bx-rupee"></i></span>
                                <input class="form-control" type="text" name="addFoodCouponRate" id="addFoodCouponRate" />
                            </div>
                        </div>
                        <div class="mt-2">
                            <button type="submit" class="btn btn-primary me-2">Save changes</button>
                            <button type="reset" class="btn btn-outline-secondary">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Edit Event Modal -->
<div class="modal fade" id="editEventModal" tabindex="-1" aria-labelledby="editEventLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editEventLabel">Edit Event</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="formEditEvent" method="POST">
                    <div class="row">
                        <div class="mb-3 col-md-6">
                            <label for="editEventName" class="form-label">Event Name</label>
                            <input class="form-control" type="text" id="editEventName" name="editEventName" value="Lohri" />
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="editEventDate" class="form-label">Event Date</label>
                            <input class="form-control" type="date" name="editEventDate" id="editEventDate" value="2023-01-13" />
                        </div>
                        <div class="mb-3 col-md-12">
                            <label for="editEventVenue" class="form-label">Event Venue</label>
                            <textarea class="form-control" id="editEventVenue" name="editEventVenue">Hotel Yuvraj, Station Road, Vadodara</textarea>
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="editStartTime" class="form-label">Start Time</label>
                            <input class="form-control" type="time" name="editStartTime" id="editStartTime" value="18:00" />
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="editEndTime" class="form-label">End Time</label>
                            <input class="form-control" type="time" id="editEndTime" name="editEndTime" value="20:00" />
                        </div>
                        <div class="mb-3 col-md-12">
                            <label for="editFoodCouponRate" class="form-label">Food Coupon Rate</label>
                            <div class="input-group">
                                <span class="input-group-text"><i class="bx bx-rupee"></i></span>
                                <input class="form-control" type="text" name="editFoodCouponRate" id="editFoodCouponRate" value="2000" />
                            </div>
                        </div>
                        <div class="mt-2">
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Expenses Modal -->
<div class="modal fade" id="expensesModal" tabindex="-1" aria-labelledby="expensesLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="expensesLabel">[[Event Name]] - Expense Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <a id="addExpensesBtn" class="btn btn-sm btn-primary" href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#addExpensesModal">Add Expense</a>
                <table id="expenses" class="table table-striped">
                    <thead>
                        <tr>
                            <th>Expense Subject</th>
                            <th>Advance Amt</th>
                            <th>Remaining Amt</th>
                            <th>Total Amt</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Stage Decoration</td>
                            <td>₹1000</td>
                            <td>₹4000</td>
                            <td>₹5000</td>
                            <td>
                                <div class="dropdown">
                                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow lh-1" data-bs-toggle="dropdown"><i class="bx bx-dots-vertical-rounded"></i></button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-trash me-1"></i> Delete</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Lighting Decoration</td>
                            <td>₹2000</td>
                            <td>₹6000</td>
                            <td>₹8000</td>
                            <td>
                                <div class="dropdown">
                                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow lh-1" data-bs-toggle="dropdown"><i class="bx bx-dots-vertical-rounded"></i></button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-trash me-1"></i> Delete</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Sound System</td>
                            <td>₹1500</td>
                            <td>₹5500</td>
                            <td>₹7000</td>
                            <td>
                                <div class="dropdown">
                                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow lh-1" data-bs-toggle="dropdown"><i class="bx bx-dots-vertical-rounded"></i></button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-trash me-1"></i> Delete</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Add Expenses Modal -->
<div class="modal fade zindex-modal" id="addExpensesModal" tabindex="-1" aria-labelledby="addExpensesLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addExpensesLabel">Add New Expenses</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="formAddExpenses" method="POST">
                    <div class="row">
                        <div class="mb-3 col-md-6">
                            <label for="addExpenseSubject" class="form-label">Expense Subject</label>
                            <input class="form-control" type="text" id="addExpenseSubject" name="addExpenseSubject" />
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="addAdvanceAmt" class="form-label">Advance Amt</label>
                            <div class="input-group">
                                <span class="input-group-text"><i class="bx bx-rupee"></i></span>
                                <input class="form-control" type="text" name="addAdvanceAmt" id="addAdvanceAmt" />
                            </div>
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="addRemainingAmt" class="form-label">Remaining Amt</label>
                            <div class="input-group">
                                <span class="input-group-text"><i class="bx bx-rupee"></i></span>
                                <input class="form-control" type="text" name="addRemainingAmt" id="addRemainingAmt" />
                            </div>
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="addTotalAmt" class="form-label">Total Amt</label>
                            <div class="input-group">
                                <span class="input-group-text"><i class="bx bx-rupee"></i></span>
                                <input class="form-control" type="text" name="addTotalAmt" id="addTotalAmt" />
                            </div>
                        </div>
                        <div class="mt-2">
                            <button type="submit" class="btn btn-primary me-2">Save changes</button>
                            <button type="reset" class="btn btn-outline-secondary">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Sponsors Modal -->
<div class="modal fade" id="sponsorsModal" tabindex="-1" aria-labelledby="sponsorsLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="sponsorsLabel">[[Event Name]] - Sponsor Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>

@section Scripts
    {
    <link href="~/lib/DataTables/dataTables.bootstrap4.css" rel="stylesheet" />
    <script src="~/lib/DataTables/jquery.dataTables.min.js"></script>
    <script src="~/lib/DataTables/dataTables.bootstrap4.min.js"></script>
    <script>
        $("document").ready(function () {

            // Event DataTable
            $("#event").dataTable({
                "searching": true
            });

            var table = $('#event').DataTable();

            $("#event_filter.dataTables_filter").append($("#yearFilter"));

            var categoryIndex = 0;
            $("#event th").each(function (i) {
                if ($($(this)).html() == "Date") {
                    categoryIndex = i; return false;
                }
            });

            $.fn.dataTable.ext.search.push(
                function (settings, data, dataIndex) {
                    var selectedItem = $('#yearFilter').val()
                    var category = data[categoryIndex];
                    if (selectedItem === "" || category.includes(selectedItem)) {
                        return true;
                    }
                    return false;
                }
            );

            $("#yearFilter").change(function (e) {
                table.draw();
            });

            table.draw();

            // Expenses DataTable
            $("#expenses").dataTable();

            $("#expenses_filter.dataTables_filter").append($("#addExpensesBtn"));
        });
    </script>
}