@model Events.Web.Models.Eventsponsor

@{

    var id = ViewBag.eid;
}
<div class="modal fade" id="addsponsors" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="formAddEvent">
                <div class="modal-body">
                    <input type="text" id="ID" value="" hidden>
                    <div class="form-group">
                        <label asp-for="EventId" class="control-label"></label>
                       <input type="text" id="EventId" value="@id" class="form-control" readonly>
                    </div>
                    <div class="form-group">
                        <label asp-for="SponsorName" class="control-label"></label>
                        <input asp-for="SponsorName" id="SponsorName" class="form-control" />
                        <span asp-validation-for="SponsorName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SponsorOrganization" class="control-label"></label>
                        <input asp-for="SponsorOrganization" id="SponsorOrganization" class="form-control" />
                        <span asp-validation-for="SponsorOrganization" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="AmountSponsored" class="control-label"></label>
                        <input asp-for="AmountSponsored" id="AmountSponsored" class="form-control" />
                        <span asp-validation-for="AmountSponsored" class="text-danger"></span>
                    </div>
                    <div class="form-group" hidden>
                        <label asp-for="CreatedOn" class="control-label"></label>
                        <input type="date" id="CreatedOn" class="form-control" />
                        <span asp-validation-for="CreatedOn" class="text-danger"></span>
                    </div>
                    <div class="form-group" hidden>
                        <label asp-for="CreatedBy" class="control-label"></label>
                        <select asp-for="CreatedBy" id="CreatedBy" class="form-control" asp-items="ViewBag.CreatedBy"></select>
                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-outline-secondary" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
                    <button type="button" onclick="save_Sponsors()" class="btn btn-primary">Save</button>
                </div>

                </div>

            </form>
        </div>
    </div>
</div>


