@model Events.Web.Models.Eventcouponassignment

@{
    ViewData["Title"] = "Create";
    var id = ViewBag.eid;
}


<div class="modal fade" id="addCAssign" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Assign Coupon</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            
            <form id="CAssignform">
                <div class="modal-body">
                <input id="Cassignid" value="" hidden>
                <div class="form-group">
                    <label asp-for="EventId" class="control-label"></label>
                        <input id="EventId" class="form-control" value="@id" hidden />
                </div>
                <div class="form-group" hidden>
                    <label asp-for="ExecutiveMemberId" class="control-label"></label>
                    <select name="ExecutiveMemberId" id="ExecutiveMemberId" class="form-control" asp-items="ViewBag.ExecutiveMemberId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="CouponsFrom" class="control-label"></label>
                        <input name="CouponsFrom" id="CouponsFrom" class="form-control" />
                    <span asp-validation-for="CouponsFrom" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CouponsTo" class="control-label"></label>
                        <input name="CouponsTo" id="CouponsTo" class="form-control" />
                    <span asp-validation-for="CouponsTo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TotalCoupons" class="control-label"></label>
                        <input name="TotalCoupons" id="TotalCoupons" class="form-control" />
                    <span asp-validation-for="TotalCoupons" class="text-danger"></span>
                </div>
                <div class="form-group" hidden>
                    <label asp-for="CreatedOn" class="control-label"></label>
                        <input type="date" name="CreatedOn" id="CreatedOn" class="form-control" />
                    <span asp-validation-for="CreatedOn" class="text-danger"></span>
                </div>
                <div class="form-group" hidden>
                    <label asp-for="CreatedBy" class="control-label"></label>
                        <select name="CreatedBy" id="CreatedBy" class="form-control" asp-items="ViewBag.CreatedBy"></select>
                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-outline-secondary" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
                    <button type="button" onclick="save_Cassign()" class="btn btn-primary">Save</button>
                </div>
                </div>

            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
