@model Events.Web.Models.Eventcouponassignment

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Eventcouponassignment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="EventId" class="control-label"></label>
                <select asp-for="EventId" class="form-control" asp-items="ViewBag.EventId"></select>
                <span asp-validation-for="EventId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExecutiveMemberId" class="control-label"></label>
                <select asp-for="ExecutiveMemberId" class="form-control" asp-items="ViewBag.ExecutiveMemberId"></select>
                <span asp-validation-for="ExecutiveMemberId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CouponsFrom" class="control-label"></label>
                <input asp-for="CouponsFrom" class="form-control" value="Hello" onchange="myFunction()  />
                <span asp-validation-for="CouponsFrom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CouponsTo" class="control-label"></label>
                <input asp-for="CouponsTo" class="form-control" value="Hello" onchange="myFunction()  />
                <span asp-validation-for="CouponsTo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalCoupons" class="control-label"></label>
                <input asp-for="TotalCoupons" class="form-control" />
                <span asp-validation-for="TotalCoupons" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedOn" class="control-label"></label>
                <input asp-for="CreatedOn" class="form-control" />
                <span asp-validation-for="CreatedOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedBy" class="control-label"></label>
                <select asp-for="CreatedBy" class="form-control" asp-items="ViewBag.CreatedBy"></select>
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModifiedBy" class="control-label"></label>
                <select asp-for="ModifiedBy" class="form-control" asp-items="ViewBag.ModifiedBy"></select>
                <span asp-validation-for="ModifiedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModifiedOn" class="control-label"></label>
                <input asp-for="ModifiedOn" class="form-control" />
                <span asp-validation-for="ModifiedOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
