<!-- Add Event Modal -->
<div class="modal fade" id="addECMemberModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <style>
                    .error-msg {
                        color: red
                    }
                </style>
                <h5 class="modal-title">Add User</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="formAddECMember" >



                <div class="modal-body">
                    <div class="row">
                        <input type="text" id="EventId" hidden>
                        <input type="date" id="createon" hidden>
                        <div class="mb-3 col-md-12">
                            <label for="addName" class="form-label">Name</label>
                            <input class="form-control" type="text" id="addrName" name="addName" />
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="addDesignation" class="form-label">Designation</label>
                            <input class="form-control" type="text" name="addDesignation" id="addDesignation" />
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="addAppointedOn" class="form-label">Appointed On</label>
                            <input class="form-control" type="text" name="addAppointedOn" id="addAppointedOn" />
                        </div>
                        <div class="mb-3 col-md-12">
                            <label for="addDuties" class="form-label">Duties</label>
                            <textarea class="form-control" id="addDuties" name="addDuties"></textarea>
                        </div>
                        <div class="mb-3 col-md-6">
                            <label  class="form-label">LoginName</label>
                            <input type="email" class="form-control" id="addLoginName" autocomplete="off" name="LoginName" />
                            <p id="loginnameerror" ></p>
                        </div>
                        <div class="mb-3 col-md-6">
                            <label  class="form-label">Password</label>
                            <input type="password" class="form-control" autocomplete="new-password" onclick="myFunc()"  id="addPassword" />
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="addRole" class="control-label">Role</label>
                            <select class ="form-control" id="addRole" name="addRole" value="">
                                <option value="Please Select Role" selected disabled>Click on this select Role</option>
                                <option value="Admin">Admin</option>
                                <option value="Executivemember">Executive Member</option>
                            </select>
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="addActive" class="form-label">Is Active?</label>
                            <input type="checkbox" id="addActive" name="addActive" value="" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-outline-secondary" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
                    <button type="button" onclick="save_member()" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>