@model IEnumerable<Events.Web.Models.Eventexpense>
@{
    ViewData["Title"] = "Index";
    var id = ViewBag.Eid;
    var iid = ViewBag.VBFriend.EventName;
    var edate = ViewBag.VBFriend.EventDate;
    var evenue = ViewBag.VBFriend.EventVenue;
    var estarttime= ViewBag.VBFriend.EventStartTime;
    var eendtime = ViewBag.VBFriend.EventEndTime;
    var eyear = ViewBag.VBFriend.EventYear;
    var ecreatedon= ViewBag.VBFriend.CreatedOn;
    var emodifiedon= ViewBag.VBFriend.ModifiedOn;
}

<html>

    <style>
        .leftside, .rightside {
            hight: auto;
            width: auto;
        }

        .box {
            hight: auto;
            width: auto;
            border: 2px solid black;
            padding: 10px;
        }
</style>
<body onload="callbindexpenese(@id)">

    <div class="box">
        <div class="row">
            <div class="col">
                <div class="leftside">
                    EventName:@ViewBag.VBFriend.EventName
                    <br />
                    EventDate:@ViewBag.VBFriend.EventDate
                    <br />
                    EventStartTime:@ViewBag.VBFriend.EventStartTime|EventEndTime:@ViewBag.VBFriend.EventEndTime
                </div>
            </div>
            <div class="col-md-1">
                <hr width="1" size="200" style="0 auto" />
            </div>
            <div class="col">
                <div class="rightside">
                    EventVenue:@ViewBag.VBFriend.EventVenue
                </div>
            </div>
        </div>
    </div>
    <div id="expenses"></div>
    <div class="row">
        <div class="col-6">
            <h2 class="fw-bold mb-4">Expenses</h2>
            @Html.ActionLink("Back to List", "Index","Events")
        </div>
        <div class="col-6 text-end">
            <a class="btn btn-primary" id="create_attendee" onclick="addEventListener_expenses(@id);">Add Expenses</a>
        </div>
    </div>

    <div class="card shadow">

        <div class="card-body  table-responsive">
            <table id="expensestable" class="table" style="width:100%">
                <thead>
                    <tr>
                        <th>Expense Name</th>
                        <th>Subject</th>
                        <th>Amount Spent</th>
                        <th>Remarks</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>



@section Scripts
    {
    <script src="~/lib/DataTables/jquery.dataTables.min.js"></script>
    <script src="~/lib/DataTables/dataTables.bootstrap4.min.js"></script>
    <script src="~/Scripts/Custom/jquery-extensions.js"></script>
    <script src="~/Scripts/Common.js"></script>
    <script src="~/Scripts/Eventexpenses//index.js"></script>
}